<nav> <!-- navbar content here  --> </nav>

  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="https://fsb.zobj.net/crop.php?r=A5wql0e47LFZriWPstbYpe07paAPJyvnc5gGdzIGwevaH7nSX97mRHQhpQucXiwv5pVkAMN7p6j0ZMpl30DG9gwR4dYhkI_TuNBxvTgqjZf8f5B1qjGnZPMTmHhrrkJG9SakZ2AOWsuHM50b">
      </div>
      <a href="#user"><img class="circle" src="https://images.alphacoders.com/533/thumb-350-533352.jpg"></a>
      <a href="#name"><span class="white-text name">Anuj Pandey</span></a>
      <a href="#email"><span class="white-text email">anujpandey785@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">star</i>Home</a></li>
    <li><a href="#!">Authors</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Contents</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>